#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#boarder {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  border: 5px;
  padding: 10px;
}

body {
  background-image: url("https://wallpapers.com/images/featured/fazqcs1tmwwte1ap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#registerEnter {
  margin-top: 10px;
}
input {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

#registerbutton {
  background-color: red;
}
#registerbutton2 {
  background-color: red;
  margin-left: 20px;
}

#pokeTeam {
  margin-top: 100px;
  font-family: "Pokemon Solid", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px #000;
}
