li {
  list-style-type: none;
}

#card {
  border: 1px solid black;
  margin: 10px;
  width: 130px;
  height: 170px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#card:hover {
  border: 2px solid #ff9800;
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

#pokeName {
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

#pokeImage {
  margin-top: 20px;
}

#pokeImage img {
  width: 120px;
  height: 120px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: firebrick;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  margin-left: 0px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar-right a:hover {
  color: #ff0000;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin-right: 100px;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: #333;
  color: #fff;
}

#search {
  border-radius: 10px;
  border-color: blue;
  background-color: rgb(197, 197, 28);
  color: blue;
}

#navbar-username {
  margin-left: auto;
  margin-right: 10px;
}

#allpoke {
  padding-top: 50px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

body.maincontent-page {
  background-image: none;
  background-color: #e08b0b;
}
